{% # Load the CSS & Fonts %}
<link href="https://fonts.cdnfonts.com/css/pp-neue-montreal" rel="stylesheet">
{{ 'cst-convertify.css' | asset_url | stylesheet_tag }}

<div class="color-{{ section.settings.color_scheme }}">
  <div class="page-width" style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">

    <div class="convertify-content">

      {% # 1> Section Header & Paragraph %}
      <div class="convertify-text convertify-text--{{ section.settings.text_position }}">
        {% unless section.settings.section_header == blank %}
          {% # Tags will be inserted by shopify since it's rich_text %}
          {{ section.settings.section_header }}
        {% endunless %}
        {% unless section.settings.paragraph == blank %}
          {{ section.settings.paragraph }}
        {% endunless %}
      </div>

      {% # 2> Carousel container %}
      <ul class="convertify-carousel false-list">
        {% for block in section.blocks %}
          {% # Note: In real production I would use something like metaobjects for an idea like this, but since we're not on the same environment yet I will do it with blocks instead %}

          {% unless block.settings.card_image == blank %}
            <li class="convertify-card" {{ block.shopify_attributes }}>
              <div class="card-image-wrapper">
                {{ block.settings.card_image | image_url: width: 300 | image_tag: class: 'card_image' }}
              </div>
              {% if block.settings.card_handle != blank %}
                {% if block.settings.card_handle_url != blank %}
                  <a
                    class="card-handle handle--link"
                    href="{{ block.settings.card_handle_url }}"
                    target="_blank">
                    {{ block.settings.card_handle }}
                  </a>
                {% else %}
                  <p class="card-handle">{{ block.settings.card_handle }}</p>
                {% endif %}
              {% endif %}
            </li>
          {% endunless %}

        {% endfor %}
      </ul>

    </div>

  </div>
</div>

{% schema %}
  {
    "tag": "section",
    "class": "section-convertify",
    "name": "Convertify",
    "settings": [
      {
        "type": "richtext",
        "id": "section_header",
        "label": "Section header"
      },
      {
        "type": "inline_richtext",
        "id": "paragraph",
        "label": "Paragraph"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text position",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "center",
            "label": "Center"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section styling"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color Scheme",
        "default": "scheme-1"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding top",
        "default": 100
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Padding Bottom",
        "default": 100
      }
    ],
    "blocks": [
      {
        "name": "Card",
        "type": "carousel_card",
        "settings": [
          {
            "type": "image_picker",
            "id": "card_image",
            "label": "Card Image"
          }, {
            "type": "text",
            "id": "card_handle",
            "label": "Card Handle"
          }, {
            "type": "url",
            "id": "card_handle_url",
            "label": "URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Convertify"
      }
    ]
  }
{% endschema %}